<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="www.http://thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Register</title>
</head>
<div layout:fragment="content">
    <!--여기부터-->
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    작품 등록하기
                </div>
                <div class="card-body">
                    <form action="/contents/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">작품 이름</span>
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">작품 설명</span>
                            <textarea class="form-control col-sm-5" rows="5" name="explanation"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">게시글 작성자</span>
                            <input type="text" name="writer" class="form-control" placeholder="Writer" th:value="${#authentication.principal.username}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">작품 장르</span>
                            <input type="text" name="category" class="form-control" placeholder="Category">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">작품 타입</span>
                            <input type="text" name="cType" class="form-control" placeholder="ContentsType">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">넷플릭스</span>
                            <input type="text" name="netflix" class="form-control" placeholder="Netflix">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">왓챠</span>
                            <input type="text" name="watcha" class="form-control" placeholder="Watcha">
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text">디즈니플러스</span>
                            <input type="text" name="disney" class="form-control" placeholder="Disney">
                        </div>


                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->

    <!--여기까지-->
    <div class="row mt-3">
        <div class="col ">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">

    const auth = [[${#authentication}]]

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }


    document.querySelector(".submitBtn").addEventListener("click", function(e){

        e.preventDefault()
        e.stopPropagation()

        const formObj = document.querySelector("form");

        formObj.submit();

    }, false)


</script>